<header class="navbar">
    <div class="container">

        <a href="/" class="logo">{{site.name}}</a>

        <div class="user-panel">
            <a class="user-panel-create" ui-sref="posts.create">
	            <i class="icon-create-message"></i>
	        </a>
            <div class="user-panel-search">
                <input type="search" value="">
                <button class="find"><i class="icon-search-glass"></i></button>
            </div>
            <nav class="user-panel-dropdown">
                <a data-toggle="dropdown-menu" class="dropdown-toggle">
                    <span class="avatar s-avatar">
						<img src="{{user.avatar.sm}}">
					</span>
					<span class="avatar s-avatar">
						<img ng-src="{{ formatAvatar(user.avatar, 30) }}" alt="My Account">
					</span>
					<i class="icon-carat"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#/account/profile">Profile</a></li>
                    <li><a href="#/account/followers">Followers</a></li>
                    <li><a href="#/account/following">Following</a></li>
                    <li><a href="#/account/settings">Settings</a></li>
                </ul>
            </nav>
        </div><!-- // end [ng-controller="userPanel"] -->

    </div>
</header>
