<main role="main" class="layout-no-hero" ng-controller="account.SettingsCtrl">
	<div class="container">
		<h1>Settings</h1>
		<div >
			<div class="alert alert-success" ng-bind="messages" ng-show="messages" id="messages"></div>

			<div ng-show="progress.active()" style="color: red; font-size: 50px;">
				Sending&hellip;
			</div>

			<form id="accountSettings" name="accountSettings" class="user-input" novalidate="">

				<h2>Account</h2>

				<div class="field-row">
					<fieldset class="align-left field-avatar-upload">
						<img ng-src="{{ avatar }}" class="avatar avatar-lg">
						<div class="upload-button">
							change
							<input type="file" file-model="avatarUpload" />
						</div>
					</fieldset>

					<fieldset class="align-left account-standard">
						<div class="form-group">
							<label class="hidden" for="name">Name</label>
							<input ng-model="name" value="{{ name }}" name="name" type="text" class="icon-label" required>
						</div>

						<div class="form-group">
							<label class="hidden" for="email">Email</label>
							<input ng-model="email" value="{{ email }}" name="email" type="email" class="icon-label" required>
						</div>

						<div class="form-group">
							<label class="hidden" for="subjectList">Password</label>
							<div class="password-change">
								<input ng-model="password" name="password" placeholder="{{ passwordPlaceholder }}" ng-class="{'top' : changePassword}" type="password" ng-disabled="!changePassword" ng-required="submitted && changePassword" class="icon-label">
								<input ng-model="passwordAgain" name="password" placeholder="{{ passwordPlaceholder }}" type="password" ng-show="changePassword" ng-required="submitted && changePassword" class="icon-label">
								<a ng-click="changePasswordToggle()" class="change-password">{{ changePassword === false ? "change" : "" }}</a>
							</div>
						</div>
					</fieldset>
				</div>

				<div class="field-row">
					<h2>Notifications</h2>

					<div class="form-group inline">
						<div ng-on-off-switch ng-model="notifyFavorites"></div>
						<span class="label-inline">email me when my posts are marked as favorites</span>
					</div>

					<div class="form-group inline">
						<div ng-on-off-switch ng-model="notifyMentions"></div>
						<span class="label-inline">email me when I'm mentioned</span>
					</div>

					<div class="form-group inline">
						<div ng-on-off-switch ng-model="notifyReply"></div>
						<span class="label-inline">email me when I get a reply</span>
					</div>

					<div class="form-group inline">
						<div ng-on-off-switch ng-model="notifyFollow"></div>
						<span class="label-inline">email me when someone follows me</span>
					</div>
				</div>

				<div class="field-row">
					<h2>Privacy</h2>
					<div class="form-group inline field-checkbox-circle">
						<div ng-circular-checkbox ng-model="publicTagging"></div>
						<span class="label-inline">allow anyone to tag me</span>
					</div>

					<div class="form-group inline field-checkbox-circle">
						<div ng-circular-checkbox ng-model="followingTagging"></div>
						<span class="label-inline">only allow people I follow to tag me</span>
					</div>

					<div class="form-group inline field-checkbox-circle">
						<div ng-circular-checkbox ng-model="disallowTagging"></div>
						<span class="label-inline">don't allow anyone to tag me</span>
					</div>

					<div class="form-group inline field-checkbox-circle">
						<div ng-circular-checkbox ng-model="geoTagging"></div>
						<span class="label-inline">add a location to my posts</span>
					</div>

					<div class="form-group inline field-checkbox-circle">
						<div ng-circular-checkbox ng-model="emailVisibility"></div>
						<span class="label-inline">let others find me by my email address</span>
					</div>

					<div class="form-group inline field-checkbox-circle">
						<div ng-circular-checkbox ng-model="personalizeAds"></div>
						<span class="label-inline">tailor ads based on my information</span>
					</div>
				</div>

				<div class="field-row field-row-submit">
					<button class="btn btn-default" ng-click="submit(accountSettings)" ng-disabled="progress.active()">Save Changes</button>
				</div>
			</form>
		</div>
	</div>
</main>
