<div class="posts" ng-controller="post.ListCtrl">

	<section class="hero">
		<form ng-controller="post.CreatePostCtrl" ng-class="{true: 'error'}[messageError]"  id="post-create-form" class="posts-add">
			<input type="text" placeholder="What's on your mind?" ng-model="post.message" ng-enter="createPost()" ng-keypress="validate()" value="{{post.message}}">
			<a ng-click="addPhoto" ng-model="post.photo" class="posts-add-action"><i class="icon-photo"></i> Add Photo</a>
			<a ng-click="addVideo" ng-model="post.video" class="posts-add-action"><i class="icon-video"></i> Add Video</a>
		</form>

		<nav class="posts-nav">
			<ul class="posts-filter">
				<li ng-class="{ active:isActiveFilter('all') }"><a ng-click="postFilter('all')">All Posts</a></li>
				<li ng-class="{ active:isActiveFilter('photo') }"><a ng-click="postFilter('photo')">Photos</a></li>
				<li ng-class="{ active:isActiveFilter('video') }"><a ng-click="postFilter('video')">Videos</a></li>
			</ul>
			<ul class="posts-layout">
				<li><a ng-click="postLayout('list')" ng-class="{ active:isActiveLayout('list') }"><i class="icon-list"></i></a></li>
				<li><a ng-click="postLayout('grid')" ng-class="{ active:isActiveLayout('grid') }"><i class="icon-grid"></i></a></li>
			</ul>
		</nav>
	</section>

	<main role="main" class="posts-list {{layoutClass}}">
		<div class="container">
			<article class="post post-primary" ng-repeat="(id, post) in filterProp(posts)" ng-animate="'slide'" id="{{id}}">
				<div ng-include src="'/views/_post.html'"></div>
			</article>
		</div>
	</main>

</div><!-- // end [ng-controller="PostListCtrl"] -->