<div class="posts" ng-controller="post.ListCtrl">

	<section class="hero">
		<form ng-controller="post.CreatePostCtrl" ng-class="{true: 'error'}[messageError]"  id="post-create-form" class="posts-add">
			<input type="text" placeholder="What's on your mind?" ng-model="post.message" ng-enter="createPost()" ng-keypress="validate()" ng-value="{{post.message}}">
			<a ng-click="addPhoto" ng-model="post.photo" class="posts-add-action"><i class="icon-photo"></i> Add Photo</a>
			<a ng-click="addVideo" ng-model="post.video" class="posts-add-action"><i class="icon-video"></i> Add Video</a>
		</form>

		<nav class="posts-nav">
			<ul class="posts-filter">
				<li ng-class="{ active:isActiveFilter('all') }"><a ng-click="postFilter('all')">All Posts</a></li>
				<li ng-class="{ active:isActiveFilter('photo') }"><a ng-click="postFilter('photo')">Photos</a></li>
				<li ng-class="{ active:isActiveFilter('video') }"><a ng-click="postFilter('video')">Videos</a></li>
			</ul>
			<ul class="posts-layout">
				<li><a ng-click="postLayout('list')" ng-class="{ active:isActiveLayout('list') }"><i class="icon-list"></i></a></li>
				<li><a ng-click="postLayout('grid')" ng-class="{ active:isActiveLayout('grid') }"><i class="icon-grid"></i></a></li>
			</ul>
		</nav>
	</section>

	<main role="main" class="posts-list {{layoutClass}}">
		<div class="container">
			<article class="post post-primary" ng-repeat="(id, post) in filterProp(posts)" id="post-{{id}}">
				<div class="post-inner">
					<span class="avatar m-avatar">
						<img ng-src="{{ formatAvatar(post.avatar, 40) }}" ng-alt="{{post.name}}" class="avatar">
					</span>
					<div class="post-content">
						<strong class="full-name">{{post.name}}</strong>
						<p>{{post.message}}</p>
					</div>
					<div class="post-actions">
						<a ng-click=""><i class="icon-reply"></i></a>
						<a ng-click=""><i class="icon-like"></i></a>
						<span timeago="{{post.time}}" class="time" />
					</div>
					<figure class="post-photo" ng-if="post.photo" ui-sref="posts.detail({ id: id })">
						<img ng-src="{{post.photo}}">
					</figure>
					<figure class="post-video" ng-if="post.video" ui-sref="posts.detail({ id: id })">
						<img ng-src="{{post.video}}">
					</figure>
				</div>
			</article>
		</div>
	</main>

</div><!-- // end [ng-controller="PostListCtrl"] -->