<div class="posts" ng-controller="post.ListCtrl">

	<section class="hero">
		<form ng-controller="post.CreatePostCtrl" id="post-create-form" class="posts-add">
			<div class="validation" ng-if="errorMessage">{{errorMessage}}</div>
			<input type="text" placeholder="What's on your mind?" ng-model="post.message" on-keyup="createPost()" keys="[13]" value="{{post.message}}">
			<a ng-click="addPhoto" ng-model="post.photo" class="posts-add-action"><i class="icon-photo"></i> Add Photo</a>
			<a ng-click="addVideo" ng-model="post.video" class="posts-add-action"><i class="icon-video"></i> Add Video</a>
		</form>

		<nav class="posts-nav">
			<ul class="posts-filter">
				<li class="active"><a ng-click="postFilter('all')">All Posts</a></li>
				<li><a ng-click="postFilter('photo')">Photos</a></li>
				<li><a ng-click="postFilter('video')">Videos</a></li>
			</ul>
			<ul class="posts-layout">
				<li><a ng-click="postLayout('list')" ng-class="{ active:isActive('list') }"><i class="icon-list"></i></a></li>
				<li><a ng-click="postLayout('grid')" ng-class="{ active:isActive('grid') }"><i class="icon-grid"></i></a></li>
			</ul>
		</nav>
	</section>

	<main role="main" class="posts-list {{layoutClass}}">
		<div class="container">
			<article class="post" ng-repeat="post in posts | filter:filters" ng-animate="'slide'" id="{{id}}">
				<span class="avatar m-avatar">
					<img ng-src="{{ formatAvatar(post.avatar, 40) }}" alt="{{post.name}}" class="avatar">
				</span>
				<div class="post-content">
					<strong class="full-name">{{post.name}}</strong>
					<p>{{post.message}}</p>
				</div>
				<div class="post-actions">
					<a ng-click=""><i class="icon-reply"></i></a>
					<a ng-click=""><i class="icon-like"></i></a>
					<span timeago="{{post.time}}" class="time" />
				</div>
				<figure class="post-photo" ng-if="post.photo">
					<img ng-src="{{post.photo}}">
				</figure>
				<figure class="post-video" ng-if="post.video">
					<img ng-src="{{post.video}}">
				</figure>
			</article>
		</div>
	</main>

</div><!-- // end [ng-controller="PostListCtrl"] -->