/**
 * Main App Styles
 *
 * this file controls the core style throughout the app
 */

// compiled by grunt-contrib-less
@import url('fonts.less');
@import url('elements.less');
@import url('library.less');
// compiled by grunt-concat-css
@import url('/app/vendor/html5-boilerplate/css/normalize.css');
@import url('/app/vendor/html5-boilerplate/css/main.css');

/*------------------------------------------------------------------------------
  Layout
------------------------------------------------------------------------------*/

.container {
    max-width: 1300px;
    margin: 0 auto;
}
/*------------------------------------------------------------------------------
  Header
------------------------------------------------------------------------------*/

// top navbar
header.navbar {
    background-color: #262728;
    position: fixed;
    padding: 15px 0;
    height: 60px;
    overflow: hidden;
    width: 100%;
    .logo {}
}
// user panel: account specific tools
.user-panel {
    .create {} .search {} .dropdown {}
}
/*------------------------------------------------------------------------------
  Hero
  displays large graphic below the top navbar
------------------------------------------------------------------------------*/

.hero {
    background: url('/assets/img/bg-hero.jpg') top center repeat-x;
    height: 425px;
    padding-top: 125px;
    position: relative;
    top: 60px;
}
/*------------------------------------------------------------------------------
  Footer
------------------------------------------------------------------------------*/

footer.site-info {}