/**
 * Main App Styles
 *
 * this file controls the core style throughout the app
 */

// compiled by grunt-concat-css
@import url('/scripts/vendor/html5-boilerplate/css/normalize.css');
@import url('/scripts/vendor/html5-boilerplate/css/main.css');

// compiled by grunt-contrib-less
@import url('fonts.less');
@import url('mixins.less');
@import url('library.less');
@import url('images.less');
@import url('modal.less');

// view styles
@import url('posts.less');

/*------------------------------------------------------------------------------
  Document
------------------------------------------------------------------------------*/

body {
	font-family: @body-font;
	line-height: 1.5;
	font-size: 16px;
	color: @text-color;
	-webkit-font-smoothing: antialiased;
}
input, select, button {
	font-family: @body-font;
}
a {
	text-decoration: none;
	color: @link-color;
	cursor: pointer;
	&:hover {
		color: @link-color-hover;
	}
}


/*------------------------------------------------------------------------------
  Layout
------------------------------------------------------------------------------*/

.container {
	max-width: 1300px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
}
.page {
	position: relative;
	padding: 1px 0;
}
main, [ui-view] {
	background: white;
}

/*------------------------------------------------------------------------------
  Header
------------------------------------------------------------------------------*/

// top navbar
header.navbar {
	background-color: #262728;
	position: fixed;
	padding: 15px 0;
	height: 30px;
	right: 0;
	left: 0;
	top: 0;
	z-index: 2;
	top: 0;
	.container {
		.clearfix();
	}
	.logo {
		padding: 4px 5px;
		margin: 0 -5px;
		float: left;
	}
}

// user panel: account specific tools
.user-panel {
	margin-right: -28px; // neutralize margin-right + icon-carat offset
	float: right;
	.clearfix();
}
.user-panel-create,
.user-panel-search,
.user-panel-dropdown {
	float: left;
	margin-right: 23px;
}

// create message
.user-panel-create {
	cursor: pointer;
	.icon-create-message {
		height: 30px;
	}
}

// search box
.user-panel-search {
	width: 198px;
	height: 28px;
	color: #7d7d7e;
	border: 1px solid #464748;
	border-color: rgba(255, 255, 255, 0.15);
	position: relative;
	.border-radius( 4px );
	overflow: hidden;
	input[type="search"] {
		display: block;
		border: none;
		background-color: none;
		position: absolute;
		top: 1px;
		left: 1px;
		bottom: 1px;
		width: 184px;
		padding: 0 6px;
		font-size: 12px;
		margin: 0;
		background: transparent;
		color: #7d7d7e;
		color: rgba(255, 255, 255, 0.4);
	}
	button.find {
		border: none;
		display: block;
		padding: 0;
		margin: 0;
		position: absolute;
		top: 4px;
		bottom: 4px;
		right: 4px;
		width: 20px;
		height: 20px;
		background: transparent;
		i {
			width: 20px;
			height: 20px;
		}
	}
}

// dropdown menu
.user-panel-dropdown {
	position: relative;
	height: 45px;
	cursor: pointer;
	.dropdown-toggle {
		display: block;
		i.icon-carat {
			position: relative;
			top: -7px;
			left: 1px;
		}
	}
	.dropdown-menu {
		display: none;
		position: absolute;
		width: 96px;
		right: -13px;
		background-color: white;
		.border-radius( 4px );
		margin: 2px 0 0;
		padding: 2px 0;
		line-height: 100%;
		font-size: 13px;
		li + li {
			border-top: 1px solid @light-border;
		}
		a {
			padding: 8px 16px 6px;
			display: block;
			line-height: 1.2em;
			color: @text-color;
			&:hover {
				color: @link-color-hover;
			}
		}
		&:before {
			content: "";
			display: block;
			position: absolute;
			right: 15px;
			top: -5px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 5px 5px 5px;
			border-color: transparent transparent white transparent;
		}
	}

	// hover
	&:hover {
		.dropdown-menu {
			display: block;
		}
	}
}


/*------------------------------------------------------------------------------
  Hero
  displays large graphic below the top navbar
------------------------------------------------------------------------------*/

.hero {
	@height: 425px;
	background: url('/styles/img/bg-hero.jpg') top center repeat-x;
	height: ( @height - 125px );
	padding-top: 125px;
	position: relative;
	margin-top: 59px;
}
.logo {
	width: 138px;
	height: 26px;
	display: inline-block;
	text-indent: -2000em;
	background-position: center center;
	background-repeat: no-repeat;
}

/*------------------------------------------------------------------------------
  Globals
------------------------------------------------------------------------------*/

// icons
i[class^="icon-"] {
	display: inline-block;
	background-position: center center;
	background-repeat: no-repeat;
}
i.icon-create-message {
	width: 32px;
	height: 26px;
}
i.icon-carat {
	width: 17px;
	height: 14px;
}
i.icon-search-glass {
	width: 16px;
	height: 16px;
}
i.icon-video, i.icon-photo,
i.icon-video-dark, i.icon-photo-dark {
	width: 18px;
	height: 17px;
	vertical-align: -3px;
}
i.icon-grid, i.icon-list {
	width: 9px;
	height: 9px;
}
i.icon-reply, .icon-like {
	width: 19px;
	height: 20px;
	display: block;
}

// avatars
.avatar {
	display: inline-block;
	.border-radius( 4px );
	overflow: hidden;
	&.s-avatar {
		width: 30px;
		height: 30px;
	}
	&.m-avatar {
		width: 40px;
		height: 40px;
	}
}

// buttons
.btn {
	font-size: 15px;
	line-height: 100%;
	color: white;
	font-weight: bold;
	padding: 11px 20px 9px;
	background: @action-color;
	border: none;
	.border-radius( 2px );
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:hover { background: #3b4447; }
	&:active { background: black; }
}


/*------------------------------------------------------------------------------
  Footer
------------------------------------------------------------------------------*/

footer.site-info {
	padding: 30px 0;
	margin-top: 50px;
	border-top: 1px solid @light-border;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
	background: white;
	.bottom-nav {
		margin: 0 auto;
		display: inline-block;
		ul {
			padding: 0;
			margin: 0;
		}
		li {
			display: inline-block;
			+ li {
				margin-left: 25px;
			}
		}
		a {
			display: block;
			color: @action-color;
			&:hover {
				color: #333;
			}
		}
	}
	.copyright {
		margin: 0 0 0 25px;
		display: inline-block;
	}
}
