/*------------------------------------------------------------------------------
 LESS Mixing
 handy mixins for simplified devices/browser support of LESS mixins
------------------------------------------------------------------------------*/

.border-radius( @radius: 2px ) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}
.opacity( @opacity: 0.5 ) {
	-moz-opacity: @opacity;
	-khtml-opacity: @opacity;
	-webkit-opacity: @opacity;
	opacity: @opacity;
	@opperc: @opacity * 100;
	-ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{opperc})";
	filter: ~"alpha(opacity=@{opperc})";
}
.column-count( @column-count ) {
	-moz-column-count: @column-count;
	-webkit-column-count: @column-count;
	column-count: @column-count;
}
.column-gap( @column-gap ) {
	-moz-column-gap: @column-gap;
	-webkit-column-gap: @column-gap;
	column-gap: @column-gap;
}
.transition( @arguments ) {
	-moz-transition: @arguments;
	-webkit-transition: @arguments;
	-o-transition: @arguments;
	-ms-transition: @arguments;
	transition: @arguments;
}
.animation(@name, @duration: 300ms, @delay: 0, @ease: ease) {
	-webkit-animation: @name @duration @delay @ease;
	-moz-animation:    @name @duration @delay @ease;
	-ms-animation:     @name @duration @delay @ease;
}
.box-shadow(@arguments) {
	-webkit-box-shadow: @arguments;
	-moz-box-shadow: @arguments;
	box-shadow: @arguments;
}
.blur( @arguments ) {
	-webkit-filter: blur(@arguments);
	-moz-filter: blur(@arguments);
	filter: blur(@arguments);
}
.transform(@arguments) {
	-webkit-transform: translateY(@arguments);
	-ms-transform: translateY(@arguments);
	transform: translateY(@arguments);
}
.columns(@colwidth: 250px, @colcount: 0, @colgap: 50px, @columnRuleColor: #EEE, @columnRuleStyle: solid, @columnRuleWidth: 1px) {
	-moz-column-width: @colwidth;
	-moz-column-count: @colcount;
	-moz-column-gap: @colgap;
	-moz-column-rule-color: @columnRuleColor;
	-moz-column-rule-style: @columnRuleStyle;
	-moz-column-rule-width: @columnRuleWidth;
	-webkit-column-width: @colwidth;
	-webkit-column-count: @colcount;
	-webkit-column-gap: @colgap;
	-webkit-column-rule-color: @columnRuleColor;
	-webkit-column-rule-style: @columnRuleStyle;
	-webkit-column-rule-width: @columnRuleWidth;
	column-width: @colwidth;
	column-count: @colcount;
	column-gap: @colgap;
	column-rule-color: @columnRuleColor;
	column-rule-style: @columnRuleStyle;
	column-rule-width: @columnRuleWidth;
}
.background-clip(@argument: padding-box) {
	-moz-background-clip: @argument;
	-webkit-background-clip: @argument;
	background-clip: @argument;
}
.clearfix() {
	zoom: 1;
	&:before {
		content: '';
		display: block;
	}
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}